$primaryColor: #f6fedb;
$secondaryColor: #d8d174;
$textColor: #474919;
$btnColor: #b6c454;

.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: $btnColor;
  border: $textColor;
  border-radius: 4px;
  color: white;
  text-align: center;
}
